<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I-15</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1 style="text-align: center;"><strong><span style="color: #993300;">✯&nbsp;<span style="color: #000000;">И-15</span></span>&nbsp;<span style="color: #993300;">✯</span></strong></h1>
    <p><img src="../images/kiler228.png"/></p>
    <p>Настоящее имя: <strong>Ишак</strong></p>
    <p>Прозвища: <strong>Истребитель-15; Легкий-маневренный; Курносый; Киборг-убийца; Микрочелик</strong></p>
    <p>Пол: <em>Парке</em>-...&nbsp; то есть "<strong>Истребитель</strong>"</p>
    <p>Остальные данные: <em>Были потеряны, пока немцы, стырившие их, уносили ноги.</em></p>
    <a href="https://ru.wikipedia.org/wiki/%D0%98-15"  target="_blank">
        <img class="image_1" src="../images/Wikipedia.png" />
    </a>
    <a href="https://wiki.warthunder.ru/%D0%98-15_WR"  target="_blank">
        <img class="image_2" src="../images/WT wiki.png" />
    </a>
</body>
</html>